<div class="container">

  <div class="flex justify-between main-home">
    <div class="mt-10">
      <h2>Derniers Posts</h2>
    </div>

    <div class="mt-10">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle mb-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trier par Catégories: <%= params[:category] ? Category.find(params[:category]).name : "Toutes"%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @categories.each do |category| %>
            <a class="dropdown-item" href="/?category=<%=category.id%>"><%=category.name%></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="posts container">
    <% @posts.each do |post| %>
      <div class="post">
        <a href="/posts/<%=post.id%>"><%= post.title %></a>
        <p><%= post.content %></p>
        <p class="flex justify-end">Par - <%= post.user.username %></p>
      </div>
    <% end %>
  </div>
</div>
