<div class="container editpost mt-10">
  <form action="" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="mb-3">
      <input type="text" name="title" class="form-control string" value="<%=@post.title%>"/>
    </div>
    <div class="mb-3">
      <input type="text" name="content" class="form-control string" value="<%=@post.content%>"/>
    </div>
    <select name="category" class="block">
      <% @categories.each do |category| %>
        <option value="<%=category.name%>"><%=category.name%></option>
      <% end %>
    </select>
    <input type="submit" class="btn btn-success mt-10" value="Valider">
  </form>
</div>
