<div class="container">
  <div class="mt-10">
    <h2 class="font-bold">Mes Posts</h2>
  </div>

  <div data-controller="post">
    <% @posts.each do |post|%>
      <input hidden disabled value="<%=post.id%>" data-post-target="postid">
      <div class="posts container">
        <div class="post">
          <div class="flex justify-between">
            <a href="/posts/<%=post.id%>"><%= post.title %></a>
            <div class="post-option">
              <a href="/post/<%=post.id%>/edit"><i class="fa-solid fa-pen"></i></a>
              <i class="fa-solid fa-trash" data-action="click->post#delete"></i>
            </div>
          </div>
          <p><%= post.content %></p>
          <p class="flex justify-end">Par - <%= post.user.username %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
